<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generator</title>
    <style>
        body {
            font-family: monospace;
        }
        h3 {
            margin: 0;
        }
        table {
            width: 100%;
        }
        tbody {
            width: 100%;
        }
        tbody td {
            text-align: right;
            overflow-wrap: break-word;
            max-width: 300px;
        }
        tbody > td:first-of-type {
            text-align: left;
        }
        tfoot th {
            text-align: right;
        }

        tfoot td {
            font-weight: bold;
            text-align: right;
        }
        .f-row {
            display: flex;
            flex-direction: row;
        }
        .f-col {
            display: flex;
            flex-direction: column;
        }
        .tp {
            padding-top: 1rem;
        }
        .l {
            align-items: last baseline;
        }
        .s {
            display: flex;
            justify-content: space-between;
            width: 300px;
        }
        .containers {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .invoice-header {
            align-items: flex-start;
            gap: 5px;
            width: 50%;
        }
        .field{
            overflow-wrap: break-word;
            max-width: 400px;
        }
        .sides {
            width: 100%;
        }
        .side {
            width: 100%;
            gap: 5px;
        }
        .side-rp {
            padding-right: 1rem;
        }
    </style>
</head>
<body>
    <div class="containers">
        <div class="invoice">
            <div class="f-col invoice-header">
                <div class="invoice-number">
                    Fakura numer: <%= locals.general.invoiceNumber || 'no.0' %>
                </div>
                <div class="issue-date"> 
                    Data wystawienia: <%= locals.general.issueDate || new Date() %>
                </div>
                <div class="sales-date">
                    Data sprzedaży: <%= locals.general.salesDate || new Date() %>
                </div>
                <div class="due-date">
                    Termin płatności: <%= locals.general.dueDate || new Date() %>
                </div>
                <div class="payment">
                    Płatność: <%= locals.general.payment || '' %>
                </div>
            </div>
            <hr>
            <div class="f-row sides">
                <div class="f-col side side-rp">
                    <h3>Sprzedawca</h3>
                    <div class="field">
                        <%- locals.seller.companyInfo || '' %>
                    </div>
                    <div class="field">
                        NIP/VAT: <%= locals.seller.nipVat || '' %>
                    </div>
                    <div class="field">
                        Konto: <%= locals.seller.account || '' %>
                    </div>
                    <div class="field">
                        Bank: <%= locals.seller.bankName || '' %>
                    </div>
                    <div class="field">
                        SWIFT: <%= locals.seller.swift || '' %>
                    </div>
                </div>
                <div class="f-col side">
                    <h3>Nabywaca</h3>
                    <div class="field">
                        <%- locals.buyer.companyInfo || '' %>
                    </div>
                    <div class="field">
                        NIP/VAT: <%= locals.buyer.nipVat || '' %>
                    </div>
                </div>
            </div>
            <table id="invoice-table" class="tp">
                <thead>
                    <tr>
                        <th scope="col">LP</th>
                        <th scope="col">Nazwa towaru</th>
                        <th scope="col">Ilość</th>
                        <th scope="col">Cenna netto</th>
                        <th scope="col">Wartość nett</th>
                        <th scope="col">VAT</th>
                        <th scope="col">Wartość VAT</th>
                        <th scope="col">Wartość brutto</th>
                    </tr>
                </thead>
                <tbody id="invoice-table-tbody">
                    <% for (let i = 0; i < locals.items.length; i++) { %>
                        <tr>
                            <th scope="row"> <%= i+1 %> </th>
                            <td> <%= locals.items[i].item || '' %> </td>
                            <td> <%= locals.items[i].quantity || '' %> </td>
                            <td> <%= locals.items[i].netPrice || '' %> </td>
                            <td> <%= locals.items[i].totalNet || '' %> </td>
                            <td> <%= locals.items[i].vat || '' %> </td>
                            <td> <%= locals.items[i].vatAmount || '' %> </td>
                            <td> <%= locals.items[i].totalGross || '' %> </td>
                        </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row" colspan="4">W tym</th>
                        <td> <%= locals.summary.totalNetPrice || '' %> </td>
                        <td> <%= locals.summary.vatAmount || '' %></td>
                        <td> <%= locals.items[locals.items.length-1].vat === "0" ? "NP" : "23%" %> </td>
                        <td> <%= locals.summary.totalGrossPrice || '' %></td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="4">Razem</th>
                        <td> <%= locals.summary.totalNetPrice || '' %> </td>
                        <td> <%= locals.summary.vatAmount || '' %></td>
                        <td></td>
                        <td> <%= locals.summary.totalGrossPrice || '' %></td>
                    </tr>
                </tfoot>
            </table>
            <div class="summary tp">
                <div class="f-col l">
                    <div class="s"><span>Wartość netto </span><span> <%= locals.summary.totalNetPrice || '' %> </span></div>
                    <div class="s"><span>Wartość VAT </span><span> <%= locals.summary.vatAmount || '' %> </span></div>
                    <div class="s"><span>Wartość brutto </span><span><%= locals.summary.totalGrossPrice || '' %> </span></div>
                </div>
                <hr>
                <div class="notes">
                    Uwagi: <%= locals.notes || '' %>
                </div>
                <hr>
                <div class="total-due">
                    Do zapłaty: <%= locals.totalDue || '' %>
                </div>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>