<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generator</title>
    <style>
        .containers {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        tbody > td:first-of-type {
            text-align: left;
        }

        tfoot th {
            text-align: right;
        }

        tfoot td {
            font-weight: boldl;
        }
    </style>
</head>
<body>
    <h1>PDF FILE</h1>
    <div class="invoice">
        <div class="invoice-header">
            <div class="invoice-number">
                Fakura numer: <%= locals.invoiceNumber || 'no.0' %>
            </div>
            <div class="issue-date"> 
                Data wystawienia: <%= locals.issueDate || new Date() %>
            </div>
            <div class="sales-date">
                Data sprzedaży: <%= locals.salesDate || new Date() %>
            </div>
            <div class="due-date">
                Termin płatności: <%= locals.dueDate || new Date() %>
            </div>
            <div class="payment">
                Płatność: <%= locals.payment || new Date() %>
            </div>
        </div>
        <hr>
        <div class="info">
            <div class="seller">
                <div class="field">
                    Dane firmy: <%= locals.seller.companyInfo || '' %>
                </div>
                <div class="field">
                    NIP/VAT: <%= locals.seller.nipVat || '' %>
                </div>
                <div class="field">
                    Konto: <%= locals.seller.account || '' %>
                </div>
                <div class="field">
                    Bank: <%= locals.seller.bankName || '' %>
                </div>
                <div class="field">
                    SWIFT: <%= locals.seller.swift || '' %>
                </div>
            </div>
            <div class="buyer">
                <div class="field">
                    Dane firmy: <%= locals.buyer.companyInfo || '' %>
                </div>
                <div class="field">
                    NIP/VAT: <%= locals.buyer.nipVat || '' %>
                </div>
            </div>
        </div>
        <table id="invoice-table">
            <thead>
                <tr>
                    <th scope="col">LP</th>
                    <th scope="col">Nazwa towaru</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Cenna netto</th>
                    <th scope="col">Wartość nett</th>
                    <th scope="col">VAT</th>
                    <th scope="col">Wartość VAT</th>
                    <th scope="col">Wartość brutto</th>
                </tr>
            </thead>
            <tbody id="invoice-table-tbody">
                <tr>
                    <th scope="row"> 1 </th>
                    <td> <%= locals.item.item || '' %> </td>
                    <td> <%= locals.item.quantity || '' %> </td>
                    <td> <%= locals.item.netPrice || '' %> </td>
                    <td> <%= locals.item.totalNet || '' %> </td>
                    <td> <%= locals.item.vat || '' %> </td>
                    <td> <%= locals.item.vatAmount || '' %> </td>
                    <td> <%= locals.item.totalGross || '' %> </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="5">W tym</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row" colspan="5">Razem</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>