<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generator</title>
    <style>
        .containers {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        tbody > td:first-of-type {
            text-align: left;
        }

        tfoot th {
            text-align: right;
        }

        tfoot td {
            font-weight: boldl;
        }
    </style>
</head>
<body>
    <div class="invoice">
        <div class="invoice-header">
            <div class="invoice-number">
                Fakura numer: <%= locals.general.invoiceNumber || 'no.0' %>
            </div>
            <div class="issue-date"> 
                Data wystawienia: <%= locals.general.issueDate || new Date() %>
            </div>
            <div class="sales-date">
                Data sprzedaży: <%= locals.general.salesDate || new Date() %>
            </div>
            <div class="due-date">
                Termin płatności: <%= locals.general.dueDate || new Date() %>
            </div>
            <div class="payment">
                Płatność: <%= locals.general.payment || new Date() %>
            </div>
        </div>
        <hr>
        <div class="info">
            <div class="seller">
                <div class="field">
                    Dane firmy: <%= locals.seller.companyInfo || '' %>
                </div>
                <div class="field">
                    NIP/VAT: <%= locals.seller.nipVat || '' %>
                </div>
                <div class="field">
                    Konto: <%= locals.seller.account || '' %>
                </div>
                <div class="field">
                    Bank: <%= locals.seller.bankName || '' %>
                </div>
                <div class="field">
                    SWIFT: <%= locals.seller.swift || '' %>
                </div>
            </div>
            <div class="buyer">
                <div class="field">
                    Dane firmy: <%= locals.buyer.companyInfo || '' %>
                </div>
                <div class="field">
                    NIP/VAT: <%= locals.buyer.nipVat || '' %>
                </div>
            </div>
        </div>
        <table id="invoice-table">
            <thead>
                <tr>
                    <th scope="col">LP</th>
                    <th scope="col">Nazwa towaru</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Cenna netto</th>
                    <th scope="col">Wartość nett</th>
                    <th scope="col">VAT</th>
                    <th scope="col">Wartość VAT</th>
                    <th scope="col">Wartość brutto</th>
                </tr>
            </thead>
            <tbody id="invoice-table-tbody">
                <% for (let i = 0; i < locals.items.length; i++) { %>
                    <tr>
                        <th scope="row"> <%= i+1 %> </th>
                        <td> <%= locals.items[i].item || '' %> </td>
                        <td> <%= locals.items[i].quantity || '' %> </td>
                        <td> <%= locals.items[i].netPrice || '' %> </td>
                        <td> <%= locals.items[i].totalNet || '' %> </td>
                        <td> <%= locals.items[i].vat || '' %> </td>
                        <td> <%= locals.items[i].vatAmount || '' %> </td>
                        <td> <%= locals.items[i].totalGross || '' %> </td>
                    </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="5">W tym</th>
                    <td> <%= locals.summary.totalNetPrice || '' %> </td>
                    <td> <%= locals.summary.vatAmount || '' %></td>
                    <td> <%= locals.items[locals.items.length-1].vat === "0" ? "NP" : "23%" %> </td>
                    <td> <%= locals.summary.totalGrossPrice || '' %></td>
                </tr>
                <tr>
                    <th scope="row" colspan="5">Razem</th>
                    <td> <%= locals.summary.totalNetPrice || '' %> </td>
                    <td> <%= locals.summary.vatAmount || '' %></td>
                    <td></td>
                    <td> <%= locals.summary.totalGrossPrice || '' %></td>
                </tr>
            </tfoot>
        </table>
        <div class="summary">
            <div>Wartość netto <%= locals.summary.totalNetPrice || '' %> </div>
            <div>Wartość VAT <%= locals.summary.vatAmount || '' %> </div>
            <div>Wartość brutto <%= locals.summary.totalGrossPrice || '' %> </div>
        </div>
        <hr>
        <div class="notes">
            <div>Uwagi: <%= locals.notes || '' %> </div>
        </div>
        <hr>
        <div class="total-due">
            <div>Do zapłaty: <%= locals.totalDue || '' %> </div>
        </div>
        <hr>
    </div>
</body>
</html>